<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
  <main role="main" class="container my-auto">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Aplicación con MVC</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="list">List</a>
            </li><li class="nav-item"><a class="nav-link" href="insert">Insert</a></li>
            <li class="nav-item"><a class="nav-link" href="delete">Delete</a></li>
            <li class="nav-item"><a class="nav-link" href="view">View</a></li>
            <li class="nav-item"><a class="nav-link" href="update">Update</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->

  </body>

</html>