<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Insert Data</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <main role="main" class="container my-auto">
    <form action="" class="main-form needs-validation" novalidate>
      <br></br>
        <div class="form-group">
            <label for="Matricula">Matricula</label>
            <input type="text" name="Matricula" id="Matricula" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" name="Nombre" id="Nombre" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="Apellido1">Apellido Paterno</label>
            <input type="text" name="Apellido1" id="Apellido1" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="Apellido2">Apellido Materno</label>
            <input type="text" name="Apellido2" id="Apellido2" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="Edad">Edad</label>
            <input type="number" name="Edad" id="Edad" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="Fecha">Fecha de nacimiento</label>
            <input type="date" name="Fecha" id="Fecha" class="form-control" required>
        </div>

        <div class="radio">
            <label for="Sexo">Sexo</label>
        </div>
        <div class="radio">
            <label>
              <input type="radio" name="opciones1" id="opcion1"  >
                Femenino
            </label>
        </div>
        <div class="radio">
            <label>
              <input type="radio" name="opciones2" id="opcion2" >
                Maculino
            </label>
        </div>

        <div class="form-group">
            <label for="Estado">Estado civil</label>
            <input type="text" name="Estado" id="Estado" class="form-control" required>
        </div>

    <br></br>

    <div style="width: 500px;">
        <button type="button" class="btn" style="background:#00FF00">Guardar</button>

        <a href="/"><button type="button" class="btn" style="background:#C0C0C0">Regresar</button></a>
    <div>
      <br></br>
    </form>
</body>

</html>